#dashboard {
    display: flex;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    font-family: Geo;
    font-size: 300%;
}

#omschrijving{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top:-20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
}